#tooplate_wrapper {
  width: 954px;
  height: 753px;
  margin: 50px auto 20px;
  background: url(./images/tooplate_content_bg.jpg) top left no-repeat;
}

#tooplate_sidebar {
  display: flex;
  flex-flow: column;
  float: left;
  width: 31.1%;
  min-height: 100%;
  padding: 8% 0 0;
}

#logo {
  text-align: center;
  padding-bottom: 15%;
}

#logo h1 {
  margin: 0;
  padding: 0;
  height: 60px;
  display: block;
}

#logo h3 {
  margin: 0;
  padding: 0;
}

#tabs {
  display: flex;
  padding-left: 20.5%;
  padding-bottom: 30%;
  flex: 1;
}

.tab{
  /* border-radius: 10%; */
}

.tabs{
  display: flex;
  flex-flow: column;
  justify-content: space-around;

}

div.tabs {
  min-width: 100%;
  margin: 0 auto;
  padding: 0;
}

div.tabs a {
  display: flex;
  /* height: 47px; */
  height: 58px;
  padding: 12px 0 0 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

#page {
  display: flex;
  flex-direction: column;
  position: relative;
  float: right;
  margin: 2.5% 2.5% 0% -2%;
  padding-bottom: 8%;
  width: 61.4%;
  height: 100%;
  overflow: hidden;
  /* border-bottom: 1px dashed #ccc; */
}

#breadcrumbs {
  overflow: hidden;
  padding-bottom: 2%;
  margin-right: 5%;
  border-bottom: 1px dashed #ccc;
}

.inner-page {
  width: 100%;
  max-height: 100%;
  min-height: 96%;
  overflow-y: auto;
  margin-right: 5%;
  padding-top: 2%;
  position: relative;
  clear: left;

}
#bottom-border{
  margin-right: 5%;
  border-top: 1px dashed #ccc;
}

.content_section {
  margin-bottom: 30px;
  padding-bottom: 30px;
  margin-right: 5%;
  border-bottom: 1px dashed #ccc;
}

.last_section {
  margin-right: 5%;
  border: 0;
}

.scroll {
  max-height: 100%;
  width: 100%;
  /* overflow-y: scroll; */
  position: relative;
  clear: left;
}

.panel {
  max-width: 100%;
  overflow: scroll;
  padding-left: 2.5%;
  padding-top: 1%;
}

.menu_01 {
  background: url(./images/tooplate_menu_01.png);
}
.menu_04 {
  background: url(./images/tooplate_menu_04.png);
}
.menu_03 {
  background: url(./images/tooplate_menu_03.png);
}
.menu_04 {
  background: url(./images/tooplate_menu_04.png);
}
.menu_05 {
  background: url(./images/tooplate_menu_05.png);
}

div.tabs a:hover,
div.tabs a.selected {
  color: #412810;
}

div.tabs a:focus {
  outline: none;
}

.scrollButtons {
  position: absolute;
  top: 300px;
  cursor: pointer;
}

.scrollButtons.left {
  left: 0;
}

.scrollButtons.right {
  right: 0;
}

.hide {
  display: none;
}

/* #footer {
	clear: both;
	width: 900px;
	padding: 0 27px;
	margin: 0 auto;
}

#footer_left { 
	float: right;
	width: 300px;
	text-align: right
}

#footer a {
	color: #bbb;
} */
/* 
#social_box {
	float: left;
	height: 85px;
	padding: 0;
	text-align: right;
}

#social_box a {
	display: inline-block;
	margin-left: 20px;
	width: 60px; height: 60px;
} */

/* #slider {
  position: relative;
  width: 100%;
} */
