/* CSS from here: https://codepen.io/Wandersonsc/pen/RMerRy */
@IMPORT url("https://fonts.googleapis.com/css?family=Poor+Story");


body {
  font-family: 'Poor Story', cursive;
  /* background: #bdffbd; */
}

.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  box-sizing: border-box;
}
.polaroid > img{
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}
.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
  box-sizing: border-box;
}
.item {
  width: 50%;
  align-content: center;
  justify-content: center;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
  box-sizing: border-box;
}
.item .polaroid:before {
  content: '';
  transform: scale(0.8, 0.8);
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
  box-sizing: border-box;
}

.item {
  transform: scale(0.9, 0.9);
  transition: all 0.35s;
}

.item:hover {
  filter: none;
  transform: scale(1, 1)  !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
/*   transform: rotate(0deg); */
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}
