
.display_img {
  max-width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.gallery_box > div {
  flex: 0 0 50%;
}

#story_id {
  display: none;
}

#secret_url_collection {
  display: none;
}

#text_area {
  font-size: 20px;
  line-height: 24px;
  resize: none;
  overflow: auto;
  height: auto;
}

#slide_container {
  position: relative;
  max-height: 100%;
}

#slide_img {
  opacity: 1;
  display: block;
  width: auto;
  max-height: 300px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  display: flex;
  flex-flow: column;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#slide_container:hover .slide_img {
  opacity: 0.3;
}

#slide_container:hover .overlay {
  opacity: 1;
}

#img-delete {
  text-align: right;
}

#img-nav{
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 50%; */
}

#overlay_content{
  display: flex;
  flex-direction: column;
  height: 100%;
}


#img_carousel{
  max-height: 300px;
  margin-bottom: 3%;
  margin-top: 1%;
}

#img-slide{
  max-height: 300px;
}


.carousel-btn{
  border: 0px;
  background-color: rgba(0, 0, 0, 0.0);
  height: 50px;
}

#img-delete-btn{
  border: 0px;
  margin-right: 2%;
  margin-top: 2%;
}

.button-bar{
  display: flex;
  justify-content: space-around;
}

#carousel-slider{
  max-height: 300px;
}

#login-img{
  max-height: 350px;
  margin-bottom: 3%;
}

#signup-img{
  max-height: 250px;
  margin-bottom: 3%;
}

.login-link{
  color: brown;
  margin-top: 10px;
}

.login-link:hover{
  color: black;
}

.login-page{
  border: none;
}
h2 {
  text-align: center;
  font-family: 'Fondamento', cursive;
}

#item-modal: {
  display: flex;
  align-content: center;
}

.card-img{
  margin-bottom: 5%;
  /* border-radius: 5%; */
}

.item-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#add-to-story{
  display: flex;
  flex-direction: row;
}