/*
	Template 2018 Notebook
    http://www.tooplate.com/view/2018-notebook
*/

body {
	background-color: #e2d8bd;
	background-image: url(images/tooplate_body.jpg);
	background-repeat: repeat;
}


.float_l { float: left; }
.float_r { float: right; }

.image_wrapper { 
	display: inline-block; 
	border: 1px solid #ded6ce; 
	padding: 4px; 
	margin-bottom: 10px; 
}

.image_fl { 
	float: left; 
	margin: 3px 30px 0 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 0 30px; 
}


/* gallery */
#gallery_container { 
	clear: both; 
	margin-top: 30px; 
	padding-right: 40px; 
} 

#gallery_container .gallery_box {
	width: 200px;
	display: block; 
	padding: 0;
	margin: 0 0 40px 0;
}
 
.gallery_box img {
	/* float: left; */
	/* width: 190px; */
	height: 100px;
	padding: 4px;
	border: 1px solid #CCC;
	margin: 0 0 0 0;
}
/* end of gallery */